/* RenderAdditionalOptions.module.css */
.optionButton {
    /* Estilos básicos de los botones */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .colorCircle {
    /* Estilos básicos para los botones de color */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 5px;
  }
  
  .selected {
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
  }
  